<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <bean id="db" class="org.mindgame.sf_using_depends_on_attribute.DemoBean">
  	<!-- perform setter injection  -->
  	<property name="msg">
  		<value>Hello</value>
  	</property>
  	<property name="d" ref="dt"/>
 
 </bean>
  
  <bean id="dt" class="java.util.Date"/>
  
  <bean id="tb" class="org.mindgame.sf_using_depends_on_attribute.TestBean" lazy-init="true">
  	<property name="name" value="Adarsh Chauhan"/>
  </bean>
  
</beans>